### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [180]:
# Name at least three observable trends in the data
# Among the 576 total players, 84.03% of players are male
# The age group spending the most money is 20-24 years old (44.79%) while 15-19 and 25-29 make up the top three.  
# Females, while smaller in number, outspend males, on average ($4.47 v $4.07, respectively)
# Final Critic is the most popular item in terms of purchase count and purchase value

In [181]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [182]:
#Display the total number of players
total_players = len(purchase_data_df["SN"].unique())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [183]:
#Calculate the number of unique items
number_of_unique_items = len(purchase_data_df["Item ID"].unique())

#Calculate the average price
average_price = purchase_data_df["Price"].mean()

#Calculate the total number of purchases
total_purchases = purchase_data_df["Purchase ID"].count()

#Calculate the Total Revenue
total_revenue = purchase_data_df["Price"].sum()

#Create a summary frame to hold the results
summary_df = pd.DataFrame({"Number of Unique Items":[item_names], 
                               "Average Purchase Price":[average_price], 
                               "Total Number of Purchases":[total_purchases],
                                "Total Revenue": [total_revenue]})

# Format using currency and decimals
summary_df.style.format({"Average Purchase Price": "${:,.2f}",
                                    "Total Number of Purchases": "${:,.2f}",
                                    "Total Revenue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [184]:
#Group calculations by the "Gender" column
grouped_by_gender = purchase_data_df.groupby("Gender")

#Calculate the unique SN by gender
players_by_gender = grouped_by_gender["SN"].nunique()

#Calculate the percentage of players by gender
percentage_players_gender = players_by_gender / total_players * 100

#Calculate the gender count and percentage of players
gender_demographics_df = pd.DataFrame({"Percentage of Players": percentage_players_gender, "Total Count of Players": players_by_gender})

#Round the percentage column to two decimal points
gender_demographics_df.style.format({"Percentage of Players":"{:,.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [185]:
#Calculate the purchase count by gender
purchase_count = grouped_by_gender["Purchase ID"].count()

#Calculate the average purchase price by gender
average_purchase_price = grouped_by_gender["Price"].mean()

#Calculate the total purchase price by gender
total_purchase_price = grouped_by_gender["Price"].sum()

#Calculate the average purchase total per person by gender
average_per_person_total = total_purchase_price / players_by_gender


# Create a summary data frame with obtained values 
purchases_by_gender_df = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": average_purchase_price,
                                    "Total Purchase Value":total_purchase_price,
                                    "Average Purchase Total per Person per Gender": average_per_person_total})

# Format using currency and decimals
purchases_by_gender_df.style.format({"Average Purchase Price": "${:,.2f}",
                                    "Total Purchase Value": "${:,.2f}",
                                    "Average Purchase Total per Person per Gender": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [186]:
#Create bins by age for the purchase data
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 200]
age_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], age_bins, labels=age_names)

#Group calculations by the "Age Group" column
grouped_by_age = purchase_data_df.groupby("Age Group")

#Calculate the unique SN by age group
players_by_age = grouped_by_age["SN"].nunique()

#Calculate the percentage of players by age
percentage_players_age = (players_by_age / total_players) * 100

#Calculate the age count and percentage of players
age_demographics_df = pd.DataFrame({"Percentage of Players": percentage_players_age, "Total Count": players_by_age})

#Round the percentage column to two decimal points
age_demographics_df.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [187]:
#Create bins by age for the purchase data
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 200]
age_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], age_bins, labels=age_names)

grouped_by_age = purchase_data_df.groupby("Age Group")

#Calculate the unique SN by age
players_by_age = grouped_by_age["SN"].nunique()

#Calculate the purchase count by age group
purchase_count_age = grouped_by_age["Purchase ID"].count()

#Calculate the average purchase price by gender
average_purchase_price_age = grouped_by_age["Price"].mean()

#Calculate the total purchase price by gender
total_purchase_price_age = grouped_by_age["Price"].sum()

#Calculate the average purchase total per person by gender
average_per_person_total_age = total_purchase_price_age / players_by_age

# Create a summary data frame with obtained values 
purchases_by_age_df = pd.DataFrame({"Purchase Count": purchase_count_age, 
                                    "Average Purchase Price": average_purchase_price_age,
                                    "Total Purchase Value":total_purchase_price_age,
                                    "Average Purchase Total per Person by Age Group": average_per_person_total_age})

# Format using currency and decimals
purchases_by_age_df.style.format({"Average Purchase Price": "${:,.2f}",
                                    "Total Purchase Value": "${:,.2f}",
                                    "Average Purchase Total per Person by Age Group": "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [188]:
#Group calculations by the Screen Name column
grouped_by_screen_name = purchase_data_df.groupby("SN")

#Calculate the total number of purchases by SN
purchase_count_spender = grouped_by_screen_name["Purchase ID"].count()

#Calculate the average price
average_purchase_price_spender = grouped_by_screen_name["Price"].mean()

#Calculate the Total Purchases by SN
total_purchases_spender = grouped_by_screen_name["Price"].sum()

#Create a summary frame to hold the results
spender_summary = pd.DataFrame({"Purchase Count":purchase_count_spender, 
                               "Average Purchase Price":average_purchase_price_spender, 
                               "Total Purchase Value": total_purchases_spender})

#Format to sort total purchase value in descending order
descending_spenders = spender_summary.sort_values(["Total Purchase Value"], ascending=False).head(5)

# Format using currency and decimals
descending_spenders.style.format({"Average Purchase Price": "${:,.2f}",
                        "Total Purchase Value": "${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [189]:
#Create a most popular items data frame
popular_items = purchase_data_df[["Item ID", "Item Name", "Price"]]

#Group the Item ID and Item Name
item_attributes = popular_items.groupby(["Item ID", "Item Name"])

#Calculate the purchase count
item_purchase_count = item_attributes["Price"].count()

#Calculate the average item price
average_item_price = item_attributes["Price"].mean()

#Calculate the total purchase value
total_purchase_value = item_attributes["Price"].sum()

#Create a summary frame to hold the results
item_summary = pd.DataFrame({"Purchase Count":item_purchase_count, 
                               "Average Item Price":average_item_price, 
                               "Total Purchase Value": total_purchase_value})

#Format to sort purchase count column in descending order
descending_items = item_summary.sort_values(["Total Purchase Value"], ascending=False).head(5)

# Format using currency and decimals
descending_items.style.format({"Average Item Price": "${:,.2f}",
                                "Total Purchase Value": "${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [190]:
#Format to sort purchase count column in descending order
descending_items = item_summary.sort_values(["Total Purchase Value"], ascending=False).head(5)

# Format using currency and decimals
descending_items.style.format({"Average Item Price": "${:,.2f}",
                                "Total Purchase Value": "${:,.2f}"})